<div class="survol">
  <div>
    <div class="circuit">

   <img class="img" src="/image/circuit/{{circuit.CIRADRESSEIMAGE}}">
   <div class="description">

  <p><b>Nom : </b>{{circuit.CIRNOM}}</p>
  <p><b>Longueur : </b> {{circuit.CIRLONGUEUR}} m</p>
  <p><b>Nombre de spectateurs :</b> {{circuit.CIRNBSPECTATEURS}}</p>
  <p><b>Pays :</b> {{circuit.PAYNOM}}</p>
</div>
</div>
  <p>{{circuit.CIRTEXT}}</p>
</div>
{{>ListeCircuitPartial}}
</div>
