
<table>
  <thead>
    <td>Place</td>
    <td>Pilote</td>
    <td>Temps</td>
    <td>Points</td>
  </thead>

{{#each descriptionResultat}}
<tr>
<td>{{this.PTPLACE}}</td>
<td>{{this.PILNOM}} {{this.PILPRENOM}}</td>
<td>{{this.TEMPSCOURSE}}</td>
<td>{{this.PTNBPOINTSPLACE}}</td>
</tr>
{{/each}}

</table>
