
<table>
  <thead>
    <td></td>
    <td>Place</td>
    <td>Pilote</td>
    <td>Temps</td>
    <td>Points</td>
  </thead>

<form id="loginformA" action="ajouterPilote" method="post">

    {{#each descriptionResultat}}
    <tr>
      <td><a href="/modifierResultat/{{this.PTPLACE}}/{{this.gpnum}}/{{this.PILNUM}}"><img src="/image/act_delete.png"/></a> </td>
      <td>{{this.PTPLACE}}</td>
      <td>{{this.PILNOM}} {{this.PILPRENOM}}</td>
      <td>{{this.TEMPSCOURSE}}</td>
      <td>{{this.PTNBPOINTSPLACE}}</td>
    </tr>
    {{/each}}
    <input name="gpnum" id="gpnum" type="hidden" value={{gpnum}}>
</form>

</table>
