
 <img class="img" src="/image/circuit/{{circuit.CIRADRESSEIMAGE}}">


<p><b>Nom : </b>{{circuit.CIRNOM}}</p>
<p><b>Longueur : </b> {{circuit.CIRLONGUEUR}} m</p>
<p><b>Nombre de spectateurs :</b> {{circuit.CIRNBSPECTATEURS}}</p>
<p><b>Pays :</b> {{circuit.PAYNOM}}</p>

<p>{{circuit.CIRTEXT}}</p>

{{>ListeCircuitPartial}}
